<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings 
in /Configuration/Kickstarter/settings.yaml:
  Resources:
    Private: 
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the kickstarter

<f:section name="content">
<h1>Listing for LabelRelationType</h1>

<f:flashMessages />

<table  class="tx_taxonomy" >
	<tr>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{labelRelationTypes}" as="labelRelationType">
		<tr>
			<td><f:link.action action="edit" arguments="{labelRelationType : labelRelationType}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{labelRelationType : labelRelationType}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New LabelRelationType</f:link.action>
</f:section>